
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
        line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   }

 .icon-cloud:before {
   content: "\e901";
 }
 .icon-night:before {
   content: "\e901";
 }
 .icon-weather:before {
   content: "\e901";
 }
 .icon-moon:before {
   content: "\e902";
 }
 .icon-night1:before {
   content: "\e902";
 }
 .icon-weather1:before {
   content: "\e902";
 }
 .icon-cloud1:before {
   content: "\e918";
 }
 .icon-night2:before {
   content: "\e918";
 }
 .icon-weather2:before {
   content: "\e918";
 }
 .icon-moon1:before {
   content: "\e919";
 }
 .icon-night3:before {
   content: "\e919";
 }
 .icon-weather3:before {
   content: "\e919";
 }
 .icon-list-view:before {
   content: "\e63f";
 }
 .icon-google-plus:before {
   content: "\e903";
 }
 .icon-instagram:before {
   content: "\92323";
 }
 .icon-twitter:before {
   content: "\e905";
 }
 .icon-youtube:before {
   content: "\e906";
 }
 .icon-star-empty:before {
   content: "\e910";
 }
 .icon-star-full:before {
   content: "\e911";
 }
 .icon-cloud-sun-snow:before {
   content: "\e91a";
 }
 .icon-cloudy:before {
   content: "\e91b";
 }
 .icon-cloudy1:before {
   content: "\e91c";
 }
 .icon-cloudy2:before {
   content: "\e91d";
 }
 .icon-cloudy3:before {
   content: "\e91e";
 }
 .icon-lightning:before {
   content: "\e91f";
 }
 .icon-lightning1:before {
   content: "\e920";
 }
 .icon-sun:before {
   content: "\e921";
 }
 .icon-sun1:before {
   content: "\e922";
 }
 .icon-vk-social-network-logo:before {
   content: "\e917";
 }
 .icon-info-circled-alt:before {
   content: "\e61d";
 }
 .icon-info-circled:before {
   content: "\e61e";
 }
 .icon-plus:before {
   content: "\e114";
 }
 .icon-minus:before {
   content: "\e115";
 }
 .icon-payment:before {
   content: "\e913";
 }
 .icon-delivery:before {
   content: "\e914";
 }
 .icon-return:before {
   content: "\e915";
 }
 .icon-package:before {
   content: "\e916";
 }
 .icon-directions:before {
   content: "\e63c";
 }
 .icon-pin:before {
   content: "\e63e";
 }
 .icon-care-Z_CGB:before {
   content: "\e637";
 }
 .icon-care-Z_DCC:before {
   content: "\e638";
 }
 .icon-care-Z_NIW:before {
   content: "\e639";
 }
 .icon-care-Z_SP:before {
   content: "\e63a";
 }
 .icon-care-Z_WP:before {
   content: "\e63b";
 }
 .icon-care-30_W:before {
   content: "\e61f";
 }
 .icon-care-30W:before {
   content: "\e620";
 }
 .icon-care-40_W:before {
   content: "\e621";
 }
 .icon-care-40W:before {
   content: "\e622";
 }
 .icon-care-95W:before {
   content: "\e623";
 }
 .icon-care-CI:before {
   content: "\e624";
 }
 .icon-care-DD:before {
   content: "\e625";
 }
 .icon-care-DF:before {
   content: "\e626";
 }
 .icon-care-F:before {
   content: "\e627";
 }
 .icon-care-HD:before {
   content: "\e628";
 }
 .icon-care-HI:before {
   content: "\e629";
 }
 .icon-care-HW:before {
   content: "\e62a";
 }
 .icon-care-MP:before {
   content: "\e62b";
 }
 .icon-care-NB:before {
   content: "\e62c";
 }
 .icon-care-ND:before {
   content: "\e62d";
 }
 .icon-care-NI:before {
   content: "\e62e";
 }
 .icon-care-NSI:before {
   content: "\e62f";
 }
 .icon-care-NT:before {
   content: "\e630";
 }
 .icon-care-NTW:before {
   content: "\e631";
 }
 .icon-care-NW:before {
   content: "\e632";
 }
 .icon-care-P:before {
   content: "\e633";
 }
 .icon-care-TH:before {
   content: "\e634";
 }
 .icon-care-TL:before {
   content: "\e635";
 }
 .icon-care-WI:before {
   content: "\e636";
 }
 .icon-promotion-code:before {
   content: "\e61c";
 }
 .icon-funatics-benefits:before {
   content: "\e61b";
 }
 .icon-cc-cb:before {
   content: "\e602";
 }
 .icon-cc-sofort:before {
   content: "\e603";
 }
 .icon-cc-ideal:before {
   content: "\e619";
 }
 .icon-cc-visa:before {
   content: "\f1f0";
 }
 .icon-cc-mastercard:before {
   content: "\f1f1";
 }
 .icon-cc-amex:before {
   content: "\f1f3";
 }
 .icon-cc-paypal:before {
   content: "\f1f4";
 }
 .icon-grid-03:before {
   content: "\e60b";
 }
 .icon-grid-random:before {
   content: "\e60d";
 }
 .icon-grid-05:before {
   content: "\e60c";
 }
 .icon-sort:before {
   content: "\e612";
 }
 .icon-chevron-down:before {
   content: "\e605";
 }
 .icon-chevron-left:before {
   content: "\e606";
 }
 .icon-chevron-right:before {
   content: "\e607";
 }
 .icon-chevron-up:before {
   content: "\e608";
 }
 .icon-close:before {
   content: "\e609";
 }
 .icon-check:before {
   content: "\e601";
 }
 .icon-checkmark:before {
   content: "\e604";
 }
 .icon-newsletter:before {
   content: "\e610";
 }
 .icon-search:before {
   content: "\e611";
 }
 .icon-Instagram-icon-black:before {
   content: "\e904";
 }
 .icon-instagram2:before {
   content: "\e912";
 }
 .icon-zoom-minus:before {
   content: "\e90a";
   color: #b3b3b4;
 }
 .icon-zoom-plus:before {
   content: "\e90b";
   color: #b3b3b4;
 }
 .icon-grid-4:before {
   content: "\e90c";
   color: rgba(179, 179, 180, 0.5);
 }
 .icon-grid-2:before {
   content: "\e90d";
   color: #b3b3b4;
 }
 .icon-arrow-left:before {
   content: "\e90e";
   color: #b3b3b4;
 }
 .icon-arrow-up:before {
   content: "\e90f";
   color: #b3b3b4;
 }
 .icon-arrow-down:before {
   content: "\e908";
   color: #b3b3b4;
 }
 .icon-arrow-right:before {
   content: "\e909";
   color: #b3b3b4;
 }
 .icon-bag:before {
   content: "\e600";
 }
 .icon-three-bars:before {
   content: "\e907";
   color: #817f7f;
 }
 .icon-facebook:before {
   content: "\f09a";
 }
 .icon-pinterest:before {
   content: "\f231";
 }
 .icon-user-add:before {
   content: "\e900";
 }
 .icon-warning:before {
   content: "\e801";
 }
 .icon-logout:before {
   content: "\f08b";
 }
 .icon-telephone:before {
   content: "\f095";
 }
