$font-family: 'Open Sans Condensed',sans-serif;
$font-family2: 'Montserrat', sans-serif;
$primary-color: #51352E;
$secondary-color:#F86B4C;
$white: white;
$black: black;
$neon-carrot: #F9A03F;
$mellow-yellow: #F7D488;
$pale-goldenrod: #EAEFB1;
$lapis-lazuli: #2660A4;
