$font-family: 'Open Sans Condensed', sans-serif;
$font-family2: 'Montserrat', sans-serif;
$primary-color: #51352e;
$secondary-color: #f86b4c;
$white: white;
$black: black;
$neon-carrot: #f9a03f;
$mellow-yellow: #f7d488;
$pale-goldenrod: #eaefb1;
$lapis-lazuli: #2660a4;
